<!DOCTYPE html>
<html>
<head>
  <title>TechieNews</title>
  <link href="https://fonts.googleapis.com/css?family=Monoton&display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<body>
 <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">TechieNews</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-md-0">
      <li class="nav-item">
        <a class="nav-link" href="#">Photos</a>
      </li>
    </ul>
  </div>
</nav>

    <%= yield %>

<div class="container">
     <%= image_tag 'vadim-sherbakov-36-unsplash.jpg' %>
     <%= image_tag 'nasa-45074-unsplash.jpg' %>
     <%= image_tag 'nasa-53885-unsplash.jpg' %>
     <%= image_tag 'ramon-salinero-271002-unsplash.jpg' %>
     <%= image_tag 'eddie-kopp-264813-unsplash.jpg' %>
     <%= image_tag 'krisztian-tabori-785758-unsplash.jpg' %>
     <%= image_tag 'taun-stewart-1359098-unsplash.jpg' %>


  
    
  </div>
</body>
</html>
